.item {
    border: 1px solid lightgray;
    img {
       
        object-fit: cover;
        overflow: hidden;
    }
    
    .empty-placeholder {

        font-weight: 500;
        font-size: 14px;
    }
}

.container {
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
}

.form-wrapper {
    max-width: 800px;
}