.img-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .img-item-wrapper {
        width: calc(20% - 20px);
        margin:10px;
        aspect-ratio: 1;
        display: flex;
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        background-size: cover;
        background-position: center;

        .remove-btn{
            position: absolute;
            top: 5px;
            right: 5px;
            border-radius: 100%;
            background-color: rgba(128, 128, 128, 0.8);
            cursor: pointer;
            padding: 5px 10px;
            color:white;
            font-size: 14px;
            border: none;
        }
    }
}
